*{
    padding: 0;
    margin: 0;
    font-family:'Poppins',sans-serif;
}



.main{
    height: 90vh;
    background-image: url(bg.jpg);
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    zoom: 1.18;
    
}
.main .box{
    height: 90vh;
    width: 100%;
    opacity: 0.5;
    background-color: black;
    position: absolute;
    top: 0;
}
nav{
    max-width: 60vw;
    justify-content: space-between;
    margin:auto;
    display: flex;
    align-items: center;
    height: 62px;
}
nav img{
    padding-top: 20px;
    color: red;
    width: 128px;
    position: relative;
    z-index: 8;
}
nav button{
    padding: 10px;
    position: relative;
    z-index: 10;
}
.hero{
    height: 88%;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    position:relative;
    color: white;
    gap: 20px;
    padding:0 30px;
    text-align: center;
    flex-wrap: wrap;
}
.hero span{
    font-size: 18px;
}
.seperation{
    height: 7px;
    background-color: rgb(69, 69, 69);
}
.btn{
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
  
    
}
.btn-red-sm{
    background-color: red;
    color: white;
}
.btn-red{
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 12px 18px;
    font-size: 18px;
    font-weight: 700;
}
.main input{
    border-radius: 4px;
    height: 14px;
    padding: 17px 108px 14px 24px;
    font-size: 14px;
    
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgba(246, 238, 238, 0.5);
    color:white;
}
.first {
    display: flex;
    justify-content: center;
    max-width: 90vw;
    margin: auto;
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
    padding-right: 50px;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 600px;
    position: relative;
    z-index: 10;
    
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}

.faq h1{
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
    padding: 20px;
}
.faq{
    background-color: black;
    color: white;
    padding: 40px;
}
.faqbox{
    display: flex;
    padding: 27px;
    background-color: rgb(46, 46, 46);
    max-width: 70vw;
    max-height: 80vw;
    justify-content: space-between;
    margin:10px auto;
    font-size: 24px;
    cursor: pointer;
    flex-wrap: wrap;
}
.faq .faqbox:hover{
    background-color: #414141;
    color:white;
}
.sec{
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.btn-red1{
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 16px 24px;
    font-size: 22px;
    font-weight: 700;
    width: 200px;
}
.sec1{
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: black;
    padding-bottom: 70px;
}
.sec1 input{
    border-radius: 4px;
    padding: 17px 108px 14px 24px;
    font-size: 16px;
    height: 26px;
    width: 250px;
    font-weight: 500;
    
    background-color: rgba(33, 33, 33, 0.2);
    border: 1px solid rgba(255, 249, 249, 0.5);
    color:white;
    background-color: black;
}
.sec{
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
}
.footer{
    padding-top: 40px;
    padding-left: 160px;
    padding-bottom: 30px;
    background-color: black;
    color: white;
}
.footer .foot{
    padding: 10px;
}


.footer1 a{
    color: rgb(221, 220, 220);
    font-size: 14px;
}
.footer1{
    padding: 10px;
    color:rgb(220, 220, 220);
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 23px;
}

.id{
    padding: 5px;
    background-color: rgb(236, 231, 231);
    color: black;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.last{
    background-color: black;
    color: rgb(186, 187, 187);
    padding-top: 15px;
}